<<<<<<< HEAD
 @font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(http://fonts.gstatic.com/s/roboto/v16/Fl4y0QdOxyyTHEGMXX8kcRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

 /*-------Iconic Fonts-----------*/
 @font-face {
	font-family: 'symbols-nerds';
	src: url('../fonts/symbols-nerds.eot?27841936');
	src: url('../fonts/symbols-nerds.eot?27841936#iefix') format('embedded-opentype'),
			 url('../fonts/symbols-nerds.woff?27841936') format('woff'),
			 url('../fonts/symbols-nerds.ttf?27841936') format('truetype'),
			 url('../fonts/symbols-nerds.svg?27841936#symbols-nerds') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*--------More Iconic-----------*/
[class^="icon-"]:before, [class*="icon-"]:before {
	font-family: "symbols-nerds";
	font-size: 28px;
	font-style: normal;
	font-weight: normal;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	text-align: center;
	/* opacity: .8; */

	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;

	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;

	/* you can be more comfortable with increased icons size */
	/* font-size: 120%; */

	/* Uncomment for 3D effect */
	/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
/*.icon-facebook:before { content: '\66'; }*/ /* 'f' */
.icon-twitter:before { content: '\74'; } /* 't' */
/*.icon-vk:before { content: '\76'; }*/ /* 'v' */
/*.icon-up-dir:before { content: '\25b2'; } /* '▲' */
/*.icon-down-dir:before { content: '\25bc'; } /* '▼' */
/*.icon-circle:before { content: '\25cb'; } /* '○' */
/*.icon-circle-dot:before { content: '\25cf'; }*/ /* '●' */
.icon-check-off:before { content: '\2610'; } /* '☐' */
.icon-check-on:before { content: '\2611'; } /* '☑' */
/*.icon-instagramm:before { content: '📷'; }*/ /* '\1f4f7' */

/*-----------Common Styles---------------*/
 body {
	min-width: 1200px;
	font-family: "Roboto", "Arial", sans-serif;
	font-weight: 500;
	font-size: 16px;
	letter-spacing: -0.2px;
	line-height: 22px;
	color: #283136;
	background: #fff;
}

ul {
	-webkit-padding-start: 0;
	margin: 0;
	padding: 0;
	font-size: 0;	
	list-style: none;
}

h2 {
	margin: 0;
	margin-bottom: 8px;
	font-size: 36px;
	font-weight: 500;
	line-height: 36px;
}


h3,
figure {
	margin: 0;
	padding: 0;
}

[class*="slider-"] p {
	margin-top: 17px;
	line-height: 24px;
	letter-spacing: -0.001em;
	margin-bottom: 25px;
}

fieldset {
	margin: 0;
	padding: 0;
	border: none;
}


				/*INDEX HEADER*/
.page-header {
	background: #eee;
	/*box-shadow: 0 0 0 1px green;
	background-color: rgba(203,251,1,0.2);*/
}

.header-container {
	padding-top: 27px;
	width: 880px;
	margin: 0 auto;
	/*box-shadow: 0 0 0 1px red;*/
}
				/*CATALOG HEADER*/

.catalog-header {
	background: #eee;
	/*box-shadow: 0 0 0 1px green;*/
}

.catalog-header-container {
	padding-top: 27px;
	width: 880px;
	min-height: 300px;
	margin: 0 auto;
	/*box-shadow: 0 0 0 1px red;
	background-color: rgba(203,251,1,0.2);*/
}

h1.welcome {
	margin: 59px auto;
	width: 655px;
	font-size: 40px;
	font-weight: 500;
	line-height: 48px;
	letter-spacing: -0.3px;
	text-align: center;
	text-transform: uppercase;
}

.index-logo {
	display: inline-block;
	width: 140px;
	height: 58px;
	background: url(../img/index-logo.png) no-repeat;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	/*box-shadow: 0 0 0 1px #ff6fb0;
	background-color: rgba(150,225,209,0.2);*/
}

.clearfix:after {
	display: table;
	content: "";
	clear: both;
}

.site-navigation {
	float: right;
	margin-top: 26px;
	/*box-shadow: 0 0 0 1px #cbfb00;
	background-color: rgba(125,255,234,0.2);*/
}

.site-navigation ul li {
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	line-height: 30px;
}

ul.main-menu a {
	text-decoration: none;
	text-transform: uppercase;
	margin-left: 46px;
	font-family: "Roboto", "Arial", sans-serif;
	font-weight: 500;
	font-size: 14px;
	color: #000;
	line-height: 30px;
	text-align: center;
}

.active span {
	position: relative;
	text-transform: uppercase;
	margin-left: 46px;
	font-family: "Roboto", "Arial", sans-serif;
	font-weight: 500;
	font-size: 14px;
	color: #000;
	line-height: 30px;
}

.active span::before {
	position: absolute;
	content: "";
	bottom: -4px;
	width: 100%;
	height: 2px;
	background: #fb565a;
}

a.icon-basket:before {
	content: '\62';
	padding-right: 14px;
	font-size: 16px;
	opacity: 0.3;
	vertical-align: baseline;
} /* 'b' */

.main-menu li:last-child a {
	margin-left: 67px;
	margin-right: 1px;
}

.main-menu li a:hover {
	color: #fb565a;
}

.main-menu li a:active {
	color: #ababab;
}


/*SLIDER*/
.slider-container {
	width: 880px;
	position: relative;
	padding-top: 28px;
	margin: 0 auto;
	background: #eee;
}

.slider-inner {
	overflow: hidden;
	min-height: 295px;
}

.slider-slides {
	width: 300%;
}

.slider-slide-1,
.slider-slide-2,
.slider-slide-3 {
	float: left;
	width: 880px;
}

.slider-left-column {
	float: left;
	width: 470px;
	padding-top: 40px;
	/*box-shadow: 0 0 0 1px #965fff;
	background-color: rgba(255,191,255,0.2);*/
}

figure {
	float: right;
	width: 339px;
	height: 319px;
	vertical-align: top;
}

a.btn-more {
	width: 240px;
}

input[type="radio"] {
	display: none;
}

.slider-controls {
	position: absolute;
	bottom: 88px;
	left: 406px;
	text-align: center;
	z-index: 2;
}

.slider-controls label {
	display: inline-block;
    width: 4px;
    height: 4px;
    margin-right: 3px;
    cursor: pointer;
    border: 4px solid white;
    border-radius: 50%;
    /*background: #c1c1c1;*/
    /*box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.8);*/
}

#switch-1:checked ~ .slider-controls label[for="switch-1"] { 
    background: #666666;
}

#switch-1:checked ~ .slider-controls label[for="switch-2"] { 
    background: white;
}

#switch-1:checked ~ .slider-controls label[for="switch-3"] { 
    background: white;
}

#switch-2:checked ~ .slider-controls label[for="switch-1"] { 
    background: white;
}

#switch-2:checked ~ .slider-controls label[for="switch-2"] { 
    background: #666666;
}

#switch-2:checked ~ .slider-controls label[for="switch-3"] { 
    background: white;
}

#switch-3:checked ~ .slider-controls label[for="switch-1"] { 
    background: white;
}

#switch-3:checked ~ .slider-controls label[for="switch-2"] { 
    background: white;
}

#switch-3:checked ~ .slider-controls label[for="switch-3"] { 
    background: #666666;
}

/*SLIDER MOVEMENT*/

#switch-1:checked ~ .slider-inner .slider-slides {
	transform: translate(0);
}

#switch-2:checked ~ .slider-inner .slider-slides {
	transform: translate(-880px);
}

#switch-3:checked ~ .slider-inner .slider-slides {
	transform: translate(-1760px);
}

				/*INDEX CONTAINER*/
.main-container {
	width: 880px;
	margin: 0 auto;
	padding: 0 10px;
	/*box-shadow: 0 0 0 1px red;
	/*background-color: rgba(125,255,234,0.2);*/
}

.services {
	min-height: 379px;
	padding-top: 80px;
	border-bottom: 2px solid #eee;
	/*box-shadow: 0 0 0 1px #965fff;
	background-color: rgba(255,191,255,0.2);*/
}

.services .offers {
	float: left;
	width: 240px;
	margin-right: 80px;
	/*box-shadow: 0 0 0 1px #5dc304;
	background-color: rgba(0,212,255,0.2);*/
}

.services .offers:last-child {
	margin-right: 0;
}


.offers h3 {
	margin-top: 18px;
	font-size: 18px;
	line-height: 30px;
	letter-spacing: -0.02em;
	text-transform: uppercase;
}

.offers p {
	font-size: 0.94em;
	font-weight: 500;
	letter-spacing: 0.01px;
	color: #283136;
	margin-top: 13px;
	margin-bottom: 27px;
}

[class*="btn-"] {
	width: 140px;
	display: inline-block;
	color: #fff;
	background: #fb565a;
	border-radius: 3px;
	cursor: pointer;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 12px;
	font-family: "Roboto", "Arial", sans-serif;
	line-height: 38px;
	vertical-align: top;
	text-align: center;
	border: none;
	outline: none;
}

[class*="btn-"]:hover {
	background-color: #d6494d;
}

[class*="btn-"]:active,
[class*="sheet-"]:active {
	box-shadow: inset 0 3px 0 0 rgba(93, 93, 93, 0.3);
}

.btn-green {
	background: #00ca74;
}

.btn-green:hover {
	background-color: #01a25e;
}

.btn-yellow {
	background: #efc84a;
}

.btn-yellow:hover {
	background-color: #d6ae2c;
}

.promo {
	min-height: 403px;
	padding-top: 70px;
	border-bottom: 2px solid #eee;
	/*box-shadow: 0 0 0 1px #7455ad;
	background-color: rgba(255,227,0,0.2);*/
}

.promo h2 {
	font-size: 36px;
	font-weight: 500;
	line-height: 36px;
	margin-bottom: 19px;
	letter-spacing: 0.1px;
}

.promo-left {
	float: left;
	width: 573px;
	/*box-shadow: 0 0 0 1px #00ffff;
	background-color: rgba(214,193,255,0.2);*/
}

.promo .title {
	display: inline-block;
	margin-top: 29px;
	margin-bottom: 12px;
	text-transform: uppercase;
}

.promo-list li {
	position: relative;
	padding-left: 37px;
	font-size: 16px;
	line-height: 44px;
}

.promo-list li::before {
	position: absolute;
	content: "";
	width: 25px;
	height: 2px;
	top: 21px;
	left: 0;
	background: #fb565a;
}

.promo-right {
	float: right;
	width: 240px;
}

.main-logo {
	margin-left: 31px;
	margin-top: -11px;
	/*margin: 0 auto;*/
	width: 188px;
	height: 77px;
	background: url(../img/main-logo.png) no-repeat;
}

.since {
	position: relative;
	margin-top: 24px;
	margin-bottom: 34px;
	text-align: center;
}

.since::after {
	position: relative;
	top: -12px;
	left: 0;
	display: block;
	content: '';
	width: 100%;
	height: 2px;
	background: #eee;
	z-index: 1;
}

.since b {
	display: inline;
	position: relative;
	margin: 0;
	padding: 0 10px;
	font-size: 16px;
	line-height: 16px;
	background: #fff;
	text-transform: uppercase;
	z-index: 2;
}

.partners {
	font-size: 0;
	padding-top: 45px;
	margin-bottom: 81px;
	min-height: 121px;
	border-bottom: 2px solid #eee;
	text-align: center;
}

.partners a {
	display: inline-block;
	vertical-align: middle;
	margin-right: 115px;
	opacity: 0.2;
}

.partners a:last-child {
	margin-right: 0;
}

.partners a:hover {
	opacity: 1;
}

/*CATALOG FORM*/
/*SCALE*/

.price-scale-block {
	margin-top: 22px;
	margin-bottom: 14px;
	display: block;
	position: relative;
	min-height: 2px;
	padding: 39px 20px;
	background-color: #f1f1f1;
	border-radius: 5px;
}

.full-scale {
	position: absolute;
	width: 200px;
	height: 2px;
	background-color: #d7dcde;
}

.scale-range {
	position: absolute;
	padding: 0 20px;
	width: 120px;
	height: 2px;
	background-color: #00ca74;
}

.scale-range::before {
	position: absolute;
	content: "";
	width: 4px;
	height: 4px;
	left: 0;
	top: -8px;
	cursor: pointer;
	border-radius: 50%;
	border: 7px solid #fff;
	box-shadow: 0 2px 1px 0px #cfcfcf;
	background-color: #ababab;
}

.scale-range::after {
	position: absolute;
	content: "";
	width: 4px;
	height: 4px;
	left: 142px;
	top: -8px;
	cursor: pointer;
	border-radius: 50%;
	border: 7px solid #fff;
	box-shadow: 0 2px 1px 0px #cfcfcf;
	background-color: #ababab;
}

/*FROM-TO INPUTS*/
.price-windows-flex {
	/*margin-bottom: 50px;*/
	width: 240px;
	display: flex;
	height: 38px;
	align-items: center;
	text-transform: uppercase;
}

input[class*="-price"] {
	display: inline-block;
	margin-left: 10px;
	width: 80px;
	height: 38px;
	font: inherit;
	text-align: center;
	border: none;
	border-radius: 5px;
	background-color: #f1f1f1;
}

.price-windows-flex label {
	cursor: text;
}

label.to {
	margin-left: auto;
}

/*RADIO & CHECKBOXES*/
fieldset.checkers {
	display: flex;
	flex-direction: column;
	margin: 50px 0 0 0;
	padding: 0;
	border: none;
}

h3.form-title {
 	display: block;
 	margin: 1px 0 20px 0;
 	padding: 0;
 	font-size: 18px;
 	line-height: 18px;
 	text-transform: uppercase;
}

input[type="checkbox"],
input[type="radio"] {
 	display: none;
}

label[class*="checkers-"] {
	display: block;
	position: relative;
	padding-left: 36px;
 	padding-bottom: 19px;
}

.checkers.radio label[class*="checkers-"]:nth-child(4) {
	padding-bottom: 0;
}

.checkers.checkbox label[class*="checkers-"]:nth-child(4) {
	padding-bottom: 16px;
}

span.icon-circle:before { 
 	position: absolute;
 	content: '\25cb';
	left: 0.5px;
	top: -4px;
}	/* '○' */

input[type="radio"]:checked + span.icon-circle:before {
 	position: absolute;
 	content: '\25cf';
	left: 0.5px;
	top: -4px;
} 	/* '●' */

span.icon-check-off:before { 
 	position: absolute;
 	content: '\2610';
	left: -1px;
	top: -3px;
} 	/* '☐' */

input[type="checkbox"]:checked + span.icon-check-off:before {
 	position: absolute;
 	content: '\2611';
	left: 1px;
	top: -3px;
} 	/* '☑' */

label[class*="disabled"] {
	color: #bdbfc0;
}

label:not(.disabled):hover {
	color: #000;
}

label:not(.disabled):hover [class^="icon-check-"]::before,
label:not(.disabled):hover [class^="icon-circle"]::before {
	color: #797979;
}

input[type=radio]:disabled + .icon-circle,
input[type=checkbox]:disabled + .icon-check-off {
    opacity: .5;
}

button.btn-show {
	width: 155px;
	margin-top: 38px;
	color: #000;
	line-height: 38px;
	background-color: #f1f1f1;
}

button.btn-show:hover,
a.btn-next:hover,
a[class*="page-"]:hover,
a[class*="sheet-"]:hover {
	background-color: #e5e5e5;
}

button.btn-show:active,
a.btn-next:active,
a[class*="page-"]:active {
	background-color: #d5d5d5;
}

/*.icon-check-off:before { content: '\2610'; } /* '☐' */
/*.icon-check-on:before { content: '\2611'; } /* '☑' */


/*CATALOG MAIN*/
.catalog-container {
	width: 880px;
	margin: 0 auto;
	/*box-shadow: 0 0 0 1px red;*/
	/*background-color: rgba(125,255,234,0.2);*/
}

.shop-gallery {
	padding-top: 80px;
	/*box-shadow: 0 0 0 1px teal;
	background-color: rgba(249,255,149,0.2);*/
}

.options {
	float: left;
	width: 240px;
	margin-right: 80px;
	/*box-shadow: 0 0 0 1px tan;
	background-color: rgba(125,255,234,0.2);*/
}

.template-gallery {
	display: flex;
	flex-wrap: wrap;
	min-height: 1205px;
	justify-content: space-between;
	align-content: flex-start;
	font-size: 12px;
	/*box-shadow: 0 0 0 1px blue;
	background-color: rgba(165,218,28,0.2);*/
}

.catalog-sorting {
	display: flex;
	flex-basis: 100%;
	margin-bottom: 20px;
	align-items: center;
	font-size: 12px;
	line-height: 18px;
	text-transform: uppercase;
}

.flex-title {
	margin-left: -3px;
	margin-right: 43px;
}

[class*="flex-option"] {
	text-decoration: none;
	margin-right: 46px;
	border-bottom: 1px dotted #00ca74;
	color: #cacaca;
}

[class*="flex-option"]:hover {
	border-bottom: 1px solid #00ca74;
	color: #000;
}

[class*="flex-option"]:active {
	color: #6b6b6b;
	border: none;
}

.navigation-arrows {
	margin-right: 0;
	margin-left: auto;
	text-decoration: none;
}

[class*="arrow-"] {
	text-decoration: none;
	color: #cacaca;
}

.arrow-down.active {
	color: #00ca74;
	margin-right: 3px;
}

.arrow-down::before {
	content: '\25bc'; /* '▼' */
}

.arrow-up::before {
	content: '\25b2'; /* '▲' */
}

a.catalog-item {
	padding-top: 30px;
	position: relative;
	display: block;
	margin-bottom: 80px;
	flex-basis: 240px;
	height: 240px;
	font-family: "Roboto", "Arial", sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	/*letter-spacing: 0.01em;*/
	text-align: center;
	color: #283136;
	text-decoration: none;
	/*box-shadow: 0 0 0 1px maroon;
	background-color: rgba(105,190,199,0.2);*/
}

.catalog-item h3 {
	font-size: 18px;
	font-weight: 500;
	color: #000;
	text-transform: uppercase;
}

.catalog-item p {
	margin-bottom: 30px;
}

.catalog-item:nth-child(5) p {
	margin-top: 6px;
	margin-bottom: 13px;
}

.catalog-item::before {
	position: absolute;
	content: "";
	width: 240px;
	height: 30px;
	background-color: #f1f1f1;
	top: 0;
	left: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.catalog-item::after {
	position: absolute;
	content: "•••";
	color: #fff;
	font-size: 40px;
	letter-spacing: 0.07em;
	top: 7px;
	left: 9px;
}

.catalog-item:hover .catalog-item-mask {
	display: block;
	/*transition: transform 0.3s ease-in-out;
	transform: translateY(0px);*/
}

.catalog-item-mask {
	position: absolute;
	display: none;
	flex-basis: 240px;
	height: 240px;
	top: 0;
	left: 0;
	/*transform: translateY(240px);*/
}

.catalog-item-mask:before {
	position: absolute;
	content: "";
	width: 240px;
	height: 30px;
	background-color: #797979;
	top: 0;
	left: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.catalog-item-mask::after {
	position: absolute;
	content: "•••";
	color: #fff;
	font-size: 40px;
	letter-spacing: 0.07em;
	top: 8px;
	left: 9px;
}

.catalog-item-window {
	display: block;
	position: absolute;
	padding: 36px 20px 30px 20px;
	width: 160px;
	height: 134px;
	background-color: #fff;
	top: 50px;
	left: 20px;
}

button.btn-price {
	font-size: 18px;
}

.catalog-paginator {
	display: flex;
	flex-basis: 100%;
	justify-content: flex-start;
	align-items: center;
	/*margin-bottom: auto;*/
}

.flex-page {
	margin-right: 10px;
	text-align: center;
	color: #000;
	font-weight: 500;
	font-size: 12px;
	line-height: 38px;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	width: 38px;
	height: 38px;
	background-color: #f1f1f1;
	border-radius: 3px;
}

.flex-page:nth-child(1) {
	background-color: #fff;
	box-shadow: inset 0 0 0 2px #f1f1f1;
}

.paginator.btn-next {
	color: #000;
	line-height: 38px;
	background-color: #f1f1f1;
}
/*----------------------------------------*/

.google-map	{
	position: relative;
	height: 416px;
	width: 1200px;
	margin: 0 auto;
	background: url("../img/map.jpg") no-repeat -204px -151px #eee;
	z-index: 1;
}

.contact-us {
	position: relative;
	display: inline-block;
	left: 160px;
	top: 90px;
	padding: 25px 23px 26px 23px;
	background: #fff;
	width: 204px;
	min-height: 189px;
}

.contact-us h2 {
	font-size: 16px;
	font-weight: 500;
	line-height: 25px;
	margin-bottom: 13px;
}

.contact-us p {
	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
	color: #666;
	margin-bottom: 20px;	
}

span.phone {
	display: inline-block;
	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
	color: #666;
	margin-bottom: 29px;
}

.map-marker {
	display: inline-block;
	position: absolute;
	width: 231px;
	height: 190px;
	content: "";
	background-image: url("../img/map-marker.png");
	top: 114px;
	left: 839px;
	z-index: 2;
}

.btn.btn-contact {
	position: relative;
	width: 205px;
	/*padding: 13px 0;*/
	text-align: center;
	line-height: 38px;
}

.site-footer {
	min-height: 139px;
	background: #fff;
	padding-top: 77px;
}

.footer-container {
	width: 880px;
	margin: 0 auto;
	/*box-shadow: 0 0 0 1px red;
	background-color: rgba(125,255,234,0.2);*/
}

.social {
	float: left;
	width: 300px;
	margin-right: 20px;
}
.social a {
	position: relative;
	width: 62px;
	height: 62px;
	display: inline-block;
	margin-right: 26px;
	text-decoration: none;
	border-radius: 50%;
	color: #fff;
	background: #e1e1e1;
}

.social a:nth-child(2) {
	margin-right: 21px; 
}


.social a:hover {
	background-color: #fb565a;
}

.social a:active {
	background-color: #d6494d;
	box-shadow: inset 0 3px 0 0 rgba(93, 93, 93, 0.3);
}

.icon-vk:before {
	content: '\76';
	position: absolute;
	top: 20px;
	left: 18px;
	font-size: 1.4em;
} /* 'v' */

.icon-facebook:before { 
	content: '\66'; 
	position: absolute;
	top: 20px;
	left: 19px;
	font-size: 1.4em;
} /* 'f' */

.icon-instagramm:before { 
	content: '📷'; 
	position: absolute;
	top: 20px;
	left: 20px;
	font-size: 1.4em;
}

.footer-slogan {
	float: left;
}

.footer-slogan h2 {
	font-weight: 500;
	line-height: 36px;
	margin-bottom: 11px;
	letter-spacing: 0.1px;
}

/*MODAL-FORM*/
.modal-content-form {
	display: none;
	position: fixed;
	background: #fff;
	top: 50%;
	left: 50%;
	margin-left: -310px;
	margin-top: -200px;
	min-width: 460px;
	min-height: 313px;
	padding: 54px 90px 49px 80px;
	/*background-color: #d2f2ff;*/
	box-shadow: 0 20px 40px 0 rgba(0,1,1,.75);
	z-index: 3;
}

form.contact-form {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: flex-start;
 	min-width: 460px;
 	/*min-height: 100%;*/
 	/*background-color: #fbedc2;*/
}

div.user-data {
	display: flex;
	justify-content: space-between;
}

div[class*="feedback-"] {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
}

div.feedback-name {
	margin-right: 20px;
}

div[class*="feedback-"] label {
	display: block;
	margin-bottom: 11px;
	line-height: 16px;
}

div.feedback-textarea {
	flex-grow: 0;
	margin-top: 23px;
}

div[class*="feedback"] input,
div[class*="feedback"] textarea {
	flex-grow: 1;
    padding: 9px 14px;
    border: 2px solid #d7dcde;
    border-radius: 4px;
    outline: 0;
}


input[name*="form-"] {
	min-width: 186px;
	line-height: 12px;
	font-family: "Roboto";
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 500;
}

input::-webkit-input-placeholder {
	color:#000;}

input::-moz-placeholder {
	color:#000;
	opacity: 0.8;
}

input[name*="form-"]:hover,
textarea[name="text"]:hover {
	border-color: #a2a9ac;
}

input[name*="form-"]:focus,
textarea[name="text"]:focus {
	border-color: #56bffb;
	/*color: #000;*/
}

textarea[name="text"] {
	padding: 0;
	width: auto;
	font-family: "Roboto";
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 500;
	/*color: #6a6a6a;*/
	resize: none;
	border: 2px solid #eee;
	border-radius: 4px;
}


button.btn-submit {
	padding: 0;
	margin-top: 48px;
	font-family: "Roboto";
	text-transform: uppercase;
	font-size: 12px;
	color: #fff;
	line-height: 38px;
	font-weight: 500;
	cursor: pointer;
	border: none;
	width: 100%;
	border-radius: 4px;
	background-color: #fb565a;
}

.modal-content-close {
	content: "";
	position: absolute;
	top: 6px;
	right: 6px;
	width: 41px;
	height: 41px;
	border-radius: 50%;
	background-color: #fb565a;
	font-size: 0;
	border: 0;
	outline: 0;
	cursor: pointer;
}

.modal-content-close::before,
.modal-content-close::after {
	position: absolute;
	content: "";
	width: 25px;
	height: 5px;
	background: #fff;
	border-radius: 1px;
	top: 18px;
	left: 7px;
}

.modal-content-close::before {
transform: rotate(45deg);
}

.modal-content-close::after {
transform: rotate(-45deg);
}

.modal-content-view {
 	display: block;
 	animation: bounce 0.6s;
}

/*MODAL-ANIMATIONS */
@keyframes bounce {
	0%		{ transform: translateY(-2000px);	}
	70%		{ transform: translateY(30px);		}
	90%		{ transform: translateY(-10px);		}
	100%	{ transform: translateY(0);			}
}

 @keyframes shake {
	0%, 100%				{ transform: translateX(0);		}
	10%, 30%, 50%, 70%, 90% { transform: translateX(-10px);	}
	20%, 40%, 60%, 80%		{ transform: translateX(10px);	}
}

.modal-error {
 	animation: shake 0.6s;
}
=======
 @font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(http://fonts.gstatic.com/s/roboto/v16/Fl4y0QdOxyyTHEGMXX8kcRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

 /*-------Iconic Fonts-----------*/
 @font-face {
	font-family: 'symbols-nerds';
	src: url('../fonts/symbols-nerds.eot?27841936');
	src: url('../fonts/symbols-nerds.eot?27841936#iefix') format('embedded-opentype'),
			 url('../fonts/symbols-nerds.woff?27841936') format('woff'),
			 url('../fonts/symbols-nerds.ttf?27841936') format('truetype'),
			 url('../fonts/symbols-nerds.svg?27841936#symbols-nerds') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*--------More Iconic-----------*/
[class^="icon-"]:before, [class*="icon-"]:before {
	font-family: "symbols-nerds";
	font-size: 28px;
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	text-align: center;
	/* opacity: .8; */

	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;

	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;

	/* you can be more comfortable with increased icons size */
	/* font-size: 120%; */

	/* Uncomment for 3D effect */
	/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
/*.icon-facebook:before { content: '\66'; }*/ /* 'f' */
.icon-twitter:before { content: '\74'; } /* 't' */
/*.icon-vk:before { content: '\76'; }*/ /* 'v' */
/*.icon-up-dir:before { content: '\25b2'; } /* '▲' */
/*.icon-down-dir:before { content: '\25bc'; } /* '▼' */
/*.icon-circle:before { content: '\25cb'; } /* '○' */
/*.icon-circle-dot:before { content: '\25cf'; }*/ /* '●' */
.icon-check-off:before { content: '\2610'; } /* '☐' */
.icon-check-on:before { content: '\2611'; } /* '☑' */
/*.icon-instagramm:before { content: '📷'; }*/ /* '\1f4f7' */

/*-----------Common Styles---------------*/
 body {
	min-width: 1200px;
	font-family: "Roboto", "Arial", sans-serif;
	font-weight: 500;
	font-size: 16px;
	letter-spacing: -0.2px;
	line-height: 22px;
	color: #283136;
	background: #fff;
}

ul {
	-webkit-padding-start: 0;
	margin: 0;
	padding: 0;
	font-size: 0;	
	list-style: none;
}

h2 {
	margin: 0;
	margin-bottom: 8px;
	font-size: 36px;
	font-weight: 500;
	line-height: 36px;
}


h3,
figure {
	margin: 0;
	padding: 0;
}

[class*="slider-"] p {
	margin-top: 17px;
	line-height: 24px;
	letter-spacing: -0.001em;
	margin-bottom: 25px;
}

fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

				/*INDEX HEADER*/
.page-header {
	background: #eee;
	/*box-shadow: 0 0 0 1px green;
	background-color: rgba(203,251,1,0.2);*/
}

.header-container {
	padding-top: 27px;
	width: 880px;
	margin: 0 auto;
	/*box-shadow: 0 0 0 1px red;*/
}
				/*CATALOG HEADER*/

.catalog-header {
	background: #eee;
	/*box-shadow: 0 0 0 1px green;*/
}

.catalog-header-container {
	padding-top: 27px;
	width: 880px;
	min-height: 300px;
	margin: 0 auto;
	/*box-shadow: 0 0 0 1px red;
	background-color: rgba(203,251,1,0.2);*/
}

h1.welcome {
	margin: 59px auto;
	width: 655px;
	font-size: 40px;
	font-weight: 500;
	line-height: 48px;
	letter-spacing: -0.3px;
	text-align: center;
	text-transform: uppercase;
}

.index-logo {
	display: inline-block;
	width: 140px;
	height: 58px;
	background: url(../img/index-logo.png) no-repeat;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	/*box-shadow: 0 0 0 1px #ff6fb0;
	background-color: rgba(150,225,209,0.2);*/
}

.clearfix:after {
	display: table;
	content: "";
	clear: both;
}

.site-navigation {
	float: right;
	margin-top: 26px;
	/*box-shadow: 0 0 0 1px #cbfb00;
	background-color: rgba(125,255,234,0.2);*/
}

.site-navigation ul li {
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	line-height: 30px;
}

ul.main-menu a {
	text-decoration: none;
	text-transform: uppercase;
	margin-left: 46px;
	font-family: "Roboto", "Arial", sans-serif;
	font-weight: 500;
	font-size: 14px;
	color: #000;
	line-height: 30px;
	text-align: center;
}

.active span {
	position: relative;
	text-transform: uppercase;
	margin-left: 46px;
	font-family: "Roboto", "Arial", sans-serif;
	font-weight: 500;
	font-size: 14px;
	color: #000;
	line-height: 30px;
}

.active span::before {
	position: absolute;
	content: "";
	bottom: -4px;
	width: 100%;
	height: 2px;
	background: #fb565a;
}

a.icon-basket:before {
	content: '\62';
	padding-right: 14px;
	font-size: 16px;
	opacity: 0.3;
	vertical-align: baseline;
} /* 'b' */

.main-menu li:last-child a {
	margin-left: 67px;
	margin-right: 1px;
}

.main-menu li a:hover {
	color: #fb565a;
}

.main-menu li a:active {
	color: #ababab;
}


/*SLIDER*/
.slider-container {
	width: 880px;
	position: relative;
	padding-top: 28px;
	margin: 0 auto;
	background: #eee;
}

.slider-inner {
	overflow: hidden;
	min-height: 295px;
}

.slider-slides {
	width: 300%;
}

.slider-slide-1,
.slider-slide-2,
.slider-slide-3 {
	float: left;
	width: 880px;
}

.slider-left-column {
	float: left;
	width: 470px;
	padding-top: 40px;
	/*box-shadow: 0 0 0 1px #965fff;
	background-color: rgba(255,191,255,0.2);*/
}

figure {
	float: right;
	width: 339px;
	height: 319px;
	vertical-align: top;
}

a.btn-more {
	width: 240px;
}

input[type="radio"] {
	display: none;
}

.slider-controls {
	position: absolute;
	bottom: 88px;
	left: 406px;
	text-align: center;
	z-index: 2;
}

.slider-controls label {
	display: inline-block;
    width: 4px;
    height: 4px;
    margin-right: 3px;
    cursor: pointer;
    border: 4px solid white;
    border-radius: 50%;
    background: #c1c1c1;
    /*box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.8);*/
}

#btn-1:checked ~ .slider-controls label[for="btn-1"] { 
    background: #666666;
}

#btn-1:checked ~ .slider-controls label[for="btn-2"] { 
    background: white;
}

#btn-1:checked ~ .slider-controls label[for="btn-3"] { 
    background: white;
}

#btn-2:checked ~ .slider-controls label[for="btn-1"] { 
    background: white;
}

#btn-2:checked ~ .slider-controls label[for="btn-2"] { 
    background: #666666;
}

#btn-2:checked ~ .slider-controls label[for="btn-3"] { 
    background: white;
}

#btn-3:checked ~ .slider-controls label[for="btn-1"] { 
    background: white;
}

#btn-3:checked ~ .slider-controls label[for="btn-2"] { 
    background: white;
}

#btn-3:checked ~ .slider-controls label[for="btn-3"] { 
    background: #666666;
}

/*SLIDER MOVEMENT*/

#btn-1:checked ~ .slider-inner .slider-slides {
	transform: translate(0);
}

#btn-2:checked ~ .slider-inner .slider-slides {
	transform: translate(-880px);
}

#btn-3:checked ~ .slider-inner .slider-slides {
	transform: translate(-1760px);
}

				/*INDEX CONTAINER*/
.main-container {
	width: 880px;
	margin: 0 auto;
	padding: 0 10px;
	/*box-shadow: 0 0 0 1px red;
	/*background-color: rgba(125,255,234,0.2);*/
}

.services {
	min-height: 379px;
	padding-top: 80px;
	border-bottom: 2px solid #eee;
	/*box-shadow: 0 0 0 1px #965fff;
	background-color: rgba(255,191,255,0.2);*/
}

.services .offers {
	float: left;
	width: 240px;
	margin-right: 80px;
	/*box-shadow: 0 0 0 1px #5dc304;
	background-color: rgba(0,212,255,0.2);*/
}

.services .offers:last-child {
	margin-right: 0;
}


.offers h3 {
	margin-top: 18px;
	font-size: 18px;
	line-height: 30px;
	letter-spacing: -0.02em;
	text-transform: uppercase;
}

.offers p {
	font-size: 0.94em;
	font-weight: 500;
	letter-spacing: 0.01px;
	color: #283136;
	margin-top: 13px;
	margin-bottom: 27px;
}

[class*="btn-"] {
	width: 140px;
	display: inline-block;
	color: #fff;
	background: #fb565a;
	border-radius: 3px;
	cursor: pointer;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 12px;
	font-family: "Roboto", "Arial", sans-serif;
	line-height: 38px;
	vertical-align: top;
	text-align: center;
	border: none;
}

[class*="btn-"]:hover {
	background-color: #d6494d;
}

[class*="btn-"]:active {
	box-shadow: inset 0 3px 0 0 rgba(93, 93, 93, 0.3);
}

.btn-green {
	background: #00ca74;
}

.btn-green:hover {
	background-color: #01a25e;
}

.btn-yellow {
	background: #efc84a;
}

.btn-yellow:hover {
	background-color: #d6ae2c;
}

.promo {
	min-height: 403px;
	padding-top: 70px;
	border-bottom: 2px solid #eee;
	/*box-shadow: 0 0 0 1px #7455ad;
	background-color: rgba(255,227,0,0.2);*/
}

.promo h2 {
	font-size: 36px;
	font-weight: 500;
	line-height: 36px;
	margin-bottom: 19px;
	letter-spacing: 0.1px;
}

.promo-left {
	float: left;
	width: 573px;
	/*box-shadow: 0 0 0 1px #00ffff;
	background-color: rgba(214,193,255,0.2);*/
}

.promo .title {
	display: inline-block;
	margin-top: 29px;
	margin-bottom: 12px;
	text-transform: uppercase;
}

.promo-list li {
	position: relative;
	padding-left: 37px;
	font-size: 16px;
	line-height: 44px;
}

.promo-list li::before {
	position: absolute;
	content: "";
	width: 25px;
	height: 2px;
	top: 21px;
	left: 0;
	background: #fb565a;
}

.promo-right {
	float: right;
	width: 240px;
}

.main-logo {
	margin-left: 31px;
	margin-top: -11px;
	/*margin: 0 auto;*/
	width: 188px;
	height: 77px;
	background: url(../img/main-logo.png) no-repeat;
}

.since {
	position: relative;
	margin-top: 24px;
	margin-bottom: 34px;
	text-align: center;
}

.since::after {
	position: relative;
	top: -12px;
	left: 0;
	display: block;
	content: '';
	width: 100%;
	height: 2px;
	background: #eee;
	z-index: 1;
}

.since b {
	display: inline;
	position: relative;
	margin: 0;
	padding: 0 10px;
	font-size: 16px;
	line-height: 16px;
	background: #fff;
	text-transform: uppercase;
	z-index: 2;
}

.partners {
	font-size: 0;
	padding-top: 45px;
	margin-bottom: 81px;
	min-height: 121px;
	border-bottom: 2px solid #eee;
	text-align: center;
}

.partners a {
	display: inline-block;
	font-size: 1;
	vertical-align: middle;
	margin-right: 115px;
	opacity: 0.2;
}

.partners a:last-child {
	margin-right: 0;
}

.partners a:hover {
	opacity: 1;
}

/*CATALOG FORM*/
/*SCALE*/

.price-scale-block {
	margin-top: 22px;
	margin-bottom: 14px;
	display: block;
	position: relative;
	min-height: 2px;
	padding: 39px 20px;
	background-color: #f1f1f1;
	border-radius: 5px;
}

.full-scale {
	position: absolute;
	width: 200px;
	height: 2px;
	background-color: #d7dcde;
}

.scale-range {
	position: absolute;
	padding: 0 20px;
	width: 120px;
	height: 2px;
	background-color: #00ca74;
}

.scale-range::before {
	position: absolute;
	content: "";
	width: 4px;
	height: 4px;
	left: 0;
	top: -8px;
	cursor: pointer;
	border-radius: 50%;
	border: 7px solid #fff;
	box-shadow: 0 2px 1px 0px #cfcfcf;
	background-color: #ababab;
}

.scale-range::after {
	position: absolute;
	content: "";
	width: 4px;
	height: 4px;
	left: 142px;
	top: -8px;
	cursor: pointer;
	border-radius: 50%;
	border: 7px solid #fff;
	box-shadow: 0 2px 1px 0px #cfcfcf;
	background-color: #ababab;
}

/*FROM-TO INPUTS*/
.price-windows-flex {
	/*margin-bottom: 50px;*/
	width: 240px;
	display: flex;
	height: 38px;
	align-items: center;
	text-transform: uppercase;
}

input[class*="-price"] {
	display: inline-block;
	margin-left: 10px;
	width: 80px;
	height: 38px;
	font: inherit;
	text-align: center;
	border: none;
	border-radius: 5px;
	background-color: #f1f1f1;
}

.price-windows-flex label {
	cursor: text;
}

label.to {
	margin-left: auto;
}

/*RADIO & CHECKBOXES*/
fieldset.checkers {
	display: flex;
	flex-direction: column;
	margin: 50px 0 0 0;
	padding: 0;
	border: none;
}

h3.form-title {
 	display: block;
 	margin: 1px 0 20px 0;
 	padding: 0;
 	font-size: 18px;
 	line-height: 18px;
 	text-transform: uppercase;
}

input[type="checkbox"],
input[type="radio"] {
 	display: none;
}

label[class*="checkers-"] {
	display: block;
	position: relative;
	padding-left: 36px;
 	padding-bottom: 19px;
}

.checkers.radio label[class*="checkers-"]:nth-child(4) {
	padding-bottom: 0;
}

.checkers.checkbox label[class*="checkers-"]:nth-child(4) {
	padding-bottom: 16px;
}

span.icon-circle:before { 
 	position: absolute;
 	content: '\25cb';
	left: 0.5px;
	top: -4px;
}	/* '○' */

input[type="radio"]:checked + span.icon-circle:before {
 	position: absolute;
 	content: '\25cf';
	left: 0.5px;
	top: -4px;
} 	/* '●' */

span.icon-check-off:before { 
 	position: absolute;
 	content: '\2610';
	left: -1px;
	top: -3px;
} 	/* '☐' */

input[type="checkbox"]:checked + span.icon-check-off:before {
 	position: absolute;
 	content: '\2611';
	left: 1px;
	top: -3px;
} 	/* '☑' */

label[class*="disabled"] {
	color: #bdbfc0;
}

label:not(.disabled):hover {
	color: #000;
}

label:not(.disabled):hover [class^="icon-check-"]::before,
label:not(.disabled):hover [class^="icon-circle"]::before {
	color: #797979;
}

input[type=radio]:disabled + .icon-circle,
input[type=checkbox]:disabled + .icon-check-off {
    opacity: .5;
}

button.btn-show {
	width: 155px;
	margin-top: 38px;
	color: #000;
	line-height: 38px;
	background-color: #f1f1f1;
}

button.btn-show:hover,
a.btn-next:hover {
	background-color: #e5e5e5;
}

button.btn-show:active,
a.btn-next:active {
	background-color: #d5d5d5;
}

/*.icon-check-off:before { content: '\2610'; } /* '☐' */
/*.icon-check-on:before { content: '\2611'; } /* '☑' */


/*CATALOG MAIN*/
.catalog-container {
	width: 880px;
	margin: 0 auto;
	/*box-shadow: 0 0 0 1px red;*/
	/*background-color: rgba(125,255,234,0.2);*/
}

.shop-gallery {
	padding-top: 80px;
	/*box-shadow: 0 0 0 1px teal;
	background-color: rgba(249,255,149,0.2);*/
}

.options {
	float: left;
	width: 240px;
	margin-right: 80px;
	/*box-shadow: 0 0 0 1px tan;
	background-color: rgba(125,255,234,0.2);*/
}

.template-gallery {
	display: flex;
	flex-wrap: wrap;
	min-height: 1205px;
	justify-content: space-between;
	align-content: flex-start;
	font-size: 12px;
	/*box-shadow: 0 0 0 1px blue;
	background-color: rgba(165,218,28,0.2);*/
}

.catalog-sorting {
	display: flex;
	flex-basis: 100%;
	margin-bottom: 20px;
	align-items: center;
	font-size: 12px;
	line-height: 18px;
	text-transform: uppercase;
}

.flex-title {
	margin-left: -3px;
	margin-right: 43px;
}

[class*="flex-option"] {
	text-decoration: none;
	margin-right: 46px;
	border-bottom: 1px dotted #00ca74;
	color: #cacaca;
}

.navigation-arrows {
	margin-right: 0;
	margin-left: auto;
	text-decoration: none;
}

[class*="arrow-"] {
	text-decoration: none;
	color: #cacaca;
}

.arrow-down.active {
	color: #00ca74;
	margin-right: 3px;
}

.arrow-down::before {
	content: '\25bc'; /* '▼' */
}

.arrow-up::before {
	content: '\25b2'; /* '▲' */
}

a.catalog-item {
	padding-top: 30px;
	position: relative;
	display: block;
	margin-bottom: 80px;
	flex-basis: 240px;
	height: 240px;
	font-family: "Roboto", "Arial", sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	/*letter-spacing: 0.01em;*/
	text-align: center;
	color: #283136;
	text-decoration: none;
	/*box-shadow: 0 0 0 1px maroon;
	background-color: rgba(105,190,199,0.2);*/
}

.catalog-item h3 {
	font-size: 18px;
	font-weight: 500;
	color: #000;
	text-transform: uppercase;
}

.catalog-item p {
	margin-bottom: 30px;
}

.catalog-item:nth-child(5) p {
	margin-top: 6px;
	margin-bottom: 13px;
}

.catalog-item::before {
	position: absolute;
	content: "";
	width: 240px;
	height: 30px;
	background-color: #f1f1f1;
	top: 0;
	left: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.catalog-item::after {
	position: absolute;
	content: "•••";
	color: #fff;
	font-size: 40px;
	letter-spacing: 0.07em;
	top: 7px;
	left: 9px;
}

.catalog-item:hover .catalog-item-mask {
	display: block;
	/*transition: transform 0.3s ease-in-out;
	transform: translateY(0px);*/
}

.catalog-item-mask {
	position: absolute;
	display: none;
	flex-basis: 240px;
	height: 240px;
	top: 0;
	left: 0;
	/*transform: translateY(240px);*/
}

.catalog-item-mask:before {
	position: absolute;
	content: "";
	width: 240px;
	height: 30px;
	background-color: #797979;
	top: 0;
	left: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.catalog-item-mask::after {
	position: absolute;
	content: "•••";
	color: #fff;
	font-size: 40px;
	letter-spacing: 0.07em;
	top: 8px;
	left: 9px;
}

.catalog-item-window {
	display: block;
	position: absolute;
	padding: 36px 20px 30px 20px;
	width: 160px;
	height: 134px;
	background-color: #fff;
	top: 50px;
	left: 20px;
}

button.btn-price {
	font-size: 18px;
}

.catalog-paginator {
	display: flex;
	flex-basis: 100%;
	justify-content: flex-start;
	align-items: center;
	/*margin-bottom: auto;*/
}

.flex-page {
	margin-right: 10px;
	text-align: center;
	color: #000;
	font-weight: 500;
	font-size: 12px;
	line-height: 38px;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	width: 38px;
	height: 38px;
	background-color: #f1f1f1;
	border-radius: 3px;
}

.flex-page:nth-child(1) {
	background-color: #fff;
	box-shadow: inset 0 0 0 2px #f1f1f1;
}

.paginator.btn-next {
	color: #000;
	line-height: 38px;
	background-color: #f1f1f1;
}
/*----------------------------------------*/

.google-map	{
	position: relative;
	height: 416px;
	width: 1200px;
	margin: 0 auto;
	background: url("../img/map.jpg") no-repeat -204px -151px #eee;
	z-index: 1;
}

.contact-us {
	position: relative;
	display: inline-block;
	left: 160px;
	top: 90px;
	padding: 25px 23px 26px 23px;
	background: #fff;
	width: 204px;
	min-height: 189px;
}

.contact-us h2 {
	font-size: 16px;
	font-weight: 500;
	line-height: 25px;
	margin-bottom: 13px;
}

.contact-us p {
	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
	color: #666;
	margin-bottom: 20px;	
}

span.phone {
	display: inline-block;
	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
	color: #666;
	margin-bottom: 29px;
}

.map-marker {
	display: inline-block;
	position: absolute;
	width: 231px;
	height: 190px;
	content: "";
	background-image: url("../img/map-marker.png");
	top: 114px;
	left: 839px;
	z-index: 2;
}

.btn.btn-contact {
	position: relative;
	width: 205px;
	/*padding: 13px 0;*/
	text-align: center;
	line-height: 38px;
}

.page-footer {
	min-height: 139px;
	background: #fff;
	padding-top: 77px;
}

.footer-container {
	width: 880px;
	margin: 0 auto;
	/*box-shadow: 0 0 0 1px red;
	background-color: rgba(125,255,234,0.2);*/
}

.social {
	float: left;
	width: 300px;
	margin-right: 20px;
}
.social a {
	position: relative;
	width: 62px;
	height: 62px;
	display: inline-block;
	margin-right: 26px;
	text-decoration: none;
	border-radius: 50%;
	color: #fff;
	background: #e1e1e1;
}

.social a:nth-child(2) {
	margin-right: 21px; 
}


.social a:hover {
	background-color: #fb565a;
}

.social a:active {
	background-color: #d6494d;
	box-shadow: inset 0 3px 0 0 rgba(93, 93, 93, 0.3);
}

.icon-vk:before {
	content: '\76';
	position: absolute;
	top: 20px;
	left: 18px;
	font-size: 1.4em;
} /* 'v' */

.icon-facebook:before { 
	content: '\66'; 
	position: absolute;
	top: 20px;
	left: 19px;
	font-size: 1.4em;
} /* 'f' */

.icon-instagramm:before { 
	content: '📷'; 
	position: absolute;
	top: 20px;
	left: 20px;
	font-size: 1.4em;
}

.footer-slogan {
	float: left;
}

.footer-slogan h2 {
	font-weight: 500;
	line-height: 36px;
	margin-bottom: 11px;
	letter-spacing: 0.1px;
}


>>>>>>> 443b534887493957df4c2ede8cc0c9288f1ec065
